@import 'reset.css';
@import 'grid.less';

@columns: 4;
@column-width: 150;
@gutter-width: 40;

@background-color: #ffffff;
@text-color: #333333;
@link-color: #590033;
@accent-color: #19bcb1;

body {
  background-color: @background-color;
  color: @text-color;
  font-family: 'Gentium Basic', serif;
  font-size: 14px;
  width: 800px;
  line-height: 2;
  margin: 40px auto;
}

a {
  color: @link-color;
  &:hover {
    color: @accent-color;
  }
  &.paginator {
    display: block;
    margin-top: 4em;
    text-decoration: none;
  }
}

header#main_header {
  height: 150px;
  #logo {
    .column(1);
    text-align: right;
  }
  #title { .column(3);
    h1 {
      margin-top: 30px;
      background-image: url(/img/title.png);
      text-indent: -9999px;
      width: 438px;
      height: 47px;
    }
  }
}

section#main {
  nav {
    .column(1);
    text-align: right;
    ul {
      margin: 0;
      list-style: none;
      line-height: 1.75;
      padding-right: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
      }
    }
  }

  section#words {
    .column(3);
    h1 {
      font-size: 18px;
      line-height: 1;
      margin: 0; }
      a {
        img { opacity: 0.8; }
        &:hover {
          img { opacity: 1; }
        }
      }
    time {
      color: #999;
      font-size: 12px;
      font-style: italic;
      line-height: 1;
      margin: 0;
    }

    .archive {
      line-height: 1.25;
      .preview {
        color: @text-color*3;
        font-style: italic;
      }
    }

    dl {
      dt {
        font-weight: bold;
        font-style: italic;
      }
      dd {
        margin-left: 0;
      }
    }
  }
}

footer {
  margin-top: 100px;
}

.wf-inactive, .wf-loading {
  body {
    font-family: Georgia, serif;
    font-size: 13px;
  }
}

#disqus_thread {
  #dsq-footer { display: none; }
  #dsq-sort-by { display: none; }
  h3 { display: none; }
}
